div{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
    position: relative;
    animation-name: colorchange;
    /* animation-direction: alternate-reverse; */
    

    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    /* animation-iteration-count: infinite; */
    
}
#ease{
    animation-timing-function: ease;
}
#linear{
    animation-timing-function: linear;
}

#ease-in{
    animation-timing-function: ease-in;
}

#ease-in-out{
    animation-timing-function: ease-in-out;
}
@keyframes colorchange{
    from {background-color: aquamarine;
        top:0px;
        left: 0px;
    }
    25%{
        background-color: yellow;
        top: 0px;
        left: 200px;
    }
    50%{
        background-color: black;
        top: 200px;
        left: 200px;
    }
    75%{
        background-color: aquamarine;
        top: 200px;
        right: 0px;
    }
    100%{
        background-color: violet;
        top: 0px;
        left: 0px;

    }


    /* to    {background-color: blue;} */
    
}